{
    "root": true,
    "extends": ["taro/react", "plugin:prettier/recommended", "prettier/prettier"],
    "rules": {
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": "off",
        "no-console": [
            "warn",
            {
                "allow": ["warn", "error"]
            }
        ]
    }
}
